*{
  margin: 0;
  padding: 0;
}

:root {
  --font-titles: "Corporate S Bold", sans-serif;
  --font-body: "Corporate S Regular", sans-serif;
  --font-light: "Corporate S Light", sans-serif;
  --font-italic: "Corporate S Italic", sans-serif;
}

html, body{
  width: 570px;
}

h6 {
  font-size:20pt;
  font-family: var(--font-titles);
  padding: 0 20px;
  text-align: center;
}


h1 {
    font-size: 45pt;
    font-family: var(--font-titles);
    text-align: center;
    padding: 0.05em 1em;
    line-height: 1.1;
}

h2 {
    font-size: 28pt;
    font-family: var(--font-titles);
    text-align: center;
    margin: 1em 1em 0.5em 1em;
}

h3 {
  font-size:24pt;
  font-family: var(--font-body);
  text-align: justify;
  padding: 20px 10px;
}

sub{
    font-size: 15pt; 
}

p {
    font-size: 20pt;
    font-family: var(--font-body);
    font-weight: normal;
    text-align: justify;
    line-height: 1.3em;
    margin-bottom: 0.6em;
    padding: 0 10px;
}

.ticket > p, .italic > p {
    font-family: var(--font-light);
    margin: 1em 0em;
    font-size: 14pt;
    line-height: 1.18em;

}


em{
 font-family: var(--font-italic);
}

img {
  width: 100%;
} 

 
h4 {
  display: none;
}

.qrcode {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
}

.logoL{
  width: 100%;
  display: block;
  margin: 1em auto;
}

.entete{
  background-color: black;
  margin: 0;
}

.tag {
    font-family: var(--font-titles);
    color: white;
    text-align: center;
    font-size: 30pt;
    padding: 15px 0 ;
    margin: 0;
    letter-spacing: 0.5px;
}

.bio {
  font-size: 15pt;
}

.author {
  font-family: var(--font-titles);
  font-weight: bold;
  text-align: center;
  margin: 1rem 0 2rem;
}

.date{
    text-align: center;
    font-family: var(--font-body);
    color: white;
    margin-top: -25px;
    font-size: 27pt;
    text-transform: uppercase;
    padding-bottom: 20px;
    letter-spacing: 1px;
}

.mentions > p {
  font-family: var(--font-body);
  font-size: 12pt;
}

.bloclogo{
  /*margin-top: 5em;*/
  width: 100%;
}

/*
.bloclogo > img.gauche {
  width: 60%;
}

.bloclogo > img.droite {
  width: 39%;
}
*/

.blocplus {
  margin: 20px 0px;
  padding: 15px 10px;
}

@font-face {
  font-family : "Corporate S Bold";
  src : url('file:///home/pi/.fonts/CorpoSBol.otf');  
}

@font-face {
  font-family : "Corporate S Regular";
  src : url('file:///home/pi/.fonts/CorpoSReg.otf');  
}

@font-face {
  font-family : "Corporate S Light";
  src : url('file:///home/pi/.fonts/CorpoSLig.otf');  
}

@font-face {
  font-family : "Corporate S Italic";
  src : url('file:///home/pi/.fonts/CorpoSIta.otf');  
}