<!DOCTYPE html>
<html lang="fr">
   <head>
      <title>{{ title }}</title>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="../static/style.css/">
      <script src="../static/scripts.js" defer></script>
   </head>
   <body>
      <h1>Capteur de qualité de l'air</h1>
      <p>Date du serveur web: {{ time }} | Dernière mesure : <span class="latest"></span></p>
      <form action="/screen" method="GET"><button type="submit">Allumer l'écran</button></form>
      <ul class="datas"></ul>
   </body>
</html>