<!DOCTYPE html>
<html lang="fr">
   <head>
      <title>{{ title }}</title>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="../static/style.css/">
      <script src="../static/scripts.js" defer></script>
   </head>
   <body>
      <h1>Machine à lire</h1>
      <p>Date du serveur web: {{ time }}</p>
      <ul class="datas">
         {% for item in files %}
            <li><a href="/print/{{ item }}">Fichier : {{ item }}</a></li>
         {% endfor %}
      </ul>
   </body>
</html>