[Unit]
Description=Attend une cle usb
After=network.target

[Service]
Type=simple
WorkingDirectory=/home/alca/Documents/machine-a-lire
ExecStart=/bin/bash /home/alca/Documents/machine-a-lire/listeningForUSB.sh
#Si on veut voir les logs en cas d'erreur:
StandardOutput=inherit
StandardError=inherit
#StandardOutput=null
User=alca
Restart=always

[Install]
WantedBy=multi-user.target

